*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/background.png");
}
header{
  background-color: white;
}
h1, h3{
  color: #FFF;
  text-align: center;
}

.structure{
  width: 100%;
  padding: 5%;
}

.structure::after{
  content: "";
  display: table;
  clear: both;
}

.title{
  /* debug */
  border: 2px solid #000;
  height: 200px;
  /*  end debug */
  background-image: url("../img/banner.jpg");
  background-size: cover;
  width: 100%;
}

.navbar{
  /* debug */
  background-color: #504741;
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}

/*  Sezione widget left */
.left{
  /* debug */
  border: 2px solid #000;
  /* end debug */
  width: 20%;
  color: #000;
  float: left;
}

.left-one{
  /* debug */
  border: 2px solid #000;
  height: 200px;
  /* end debug */
  width: 90%;
  margin: 5%;
}

/*  Sezione widget right */
.right{
  /* debug */
  border: 2px solid #000;
  /* end debug */
  width: 30%;
  color: #000;
  float: right;
}

.right-one, .right-two{
  /* debug */
  border: 2px solid #000;
  height: 150px;
  /* end debug */
  width: 90%;
  margin: 5%;
}

/* Sezione centrale */
.midarea{
  /* debug */
  border: 2px solid #000;
  height: 1000px;
  /* end debug */
  width: 50%;
  float: left;
}

/* Sezione footer */
footer{
  /* debug */
  text-align: center;
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.endpage{
  /* debug */
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}

.endpage::after{
  content: "";
  display: table;
  clear: both;
}

.footer1{
  /* debug */
  border: 2px solid #000;
  height: 200px;
  /* end debug */
  width: 15%;
  margin: 0 3%;
  float: left;
}

.footer2{
  border: 2px solid #000;
  height: 200px;
  /* end debug */
  width: 35%;
  float: right;
}

.copyright{
  /* debug */
  border: 2px solid #000;
  height: 50px;
  /* end debug */
  width: 90%;
  margin: 5% 5%;
}
