/* REGOLE CSS GENERALI */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/background.png");
}

h1{
 color: #FFF;
 position: absolute;
 top: 30%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-size: 3em;
}

h2{
  color: #FFF;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5em;
}

.structure{
  margin: 2% 8%;
  position: relative;
}

.structure::after{
  content: "";
  display: table;
  clear: both;
}

.title{
  /* debug */
  height: 200px;
  /*  end debug */
  border: 13px solid white;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  position: relative;
  width: 100%;
}

/* NAVBAR */
.navbar{
  background-color: #504741;
  width: 100%;
  margin-bottom: 20px;
}

.menu{
  text-align: center;
  font-size: 20px;
}

.menu li, a{
  display: inline-block;
  padding: 5px 8px;
  text-decoration: none;
  color: #FFF;
}

.menu li:hover{
  background-color: #382200;
}

/*  SEZIONE WIDGETS LEFT */
h5{
  text-align: center;
  font-size: 20px;
  font-weight: 400;

}

.left{
  width: 20%;
  color: #000;
  float: left;
}

.widgets-left{
  background-color: #FFF;
  width: 90%;
  margin: 5%;
  color: #000;
}

.widgets-left li{
  text-decoration: none;
  display: inline-block;
  color: lightgreen;
  width: 100;
  margin: 10px 25px;
  padding: 3px 3px;
}

.pages{
  color: lightgreen;
}
.pages:hover{
  background-color: #dedddc;
  text-decoration: underline;
}


/*  Sezione widget right */
.right{
  width: 30%;
  color: #000;
  float: right;
}

.search, .right-two{
  width: 90%;
  margin: 5%;
  background-color: #FFF;
  padding: 10px 20px;
}

input{
  border-color: #dedddc;
  font-size: 20px;
  padding: 5px;
}

#submit{
  background-color: #504741;
  font-size: 20px;
  padding: 5px;
  margin-left: 2%;
}

.tag-cloud{
  background-color: #FFF;
  width: 90%;
  margin: 5%;
}

.tags{
  margin-top: 5px;
}

.tags>a{
  color: lightgreen;
  display: inline;
}

.tags>a:hover{
  text-decoration: underline;
}

/* Sezione centrale */
.midarea{
  background-color: #FFF;
  width: 50%;
  float: left;
  margin-top: 13px;
  padding: 15px;
}

h3{
  font-size: 1.8em;
  margin: 15px 0;
}

.subtitle{
  color: #000;
}

img{
  width: 100%;
  height: auto;
}

/* Sezione footer */
footer{
  /* debug */
  text-align: center;
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}

footer::after{
  content: "";
  display: table;
  clear: both;
}

.endpage{
  /* debug */
  border: 2px solid #000;
  /* end debug */
  width: 100%;
}

.endpage::after{
  content: "";
  display: table;
  clear: both;
}

.footer1{
  /* debug */
  border: 2px solid #000;
  height: 200px;
  /* end debug */
  width: 15%;
  margin: 0 3%;
  float: left;
}

.footer2{
  border: 2px solid #000;
  height: 200px;
  /* end debug */
  width: 35%;
  float: right;
}

.copyright{
  /* debug */
  border: 2px solid #000;
  height: 50px;
  /* end debug */
  width: 90%;
  margin: 5% 5%;
}
